@import './variables'
@import './reset'
@import './global'
@import './buttons'

.container
  width: 1170px
  max-width: 90%
  margin: 0 auto
  color: $dark

.standard-section
  padding: 50px
  .container
    color: white
    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: 40px
    align-items: center

.header
  width: 100%
  position: fixed
  padding: 30px 0
  transition: 300ms all ease-in-out
  z-index: 3
  .nav-btn
    width: 30px
    height: 25px
    padding: 0
    display: none
    grid-gap: 5px
    align-items: center
  .nav-btn span
    min-height: 5px
    background: $dark
    display: block
    transition: all 350ms ease
  &.scroll
    background: white
  .container
    display: grid
    grid-template-columns: 1fr auto
    grid-auto-flow: column
    align-items: center
    .logo
      font-family: $pacifico, sans-serif
      font-size: 25px
      a
        display: inline-block
    .header-nav
      display: grid
      grid-auto-flow: column
      grid-gap: 40px
      .nav-item
        text-transform: uppercase
        font-weight: bold
        border-top: 3px solid rgba(0, 0, 0, 0)
        padding-top: 5px
        font-size: 16px
        &.active
          border-top: 3px solid $orange
  &.nav-open
    background: white
    .nav-btn
      opacity: 0.5
      grid-gap: 0
      transition: all ease-in-out 300ms
      span:first-child
        transform: rotate(45deg) translateY(6px) translateX(6px)
      span:nth-child(2)
        transform: translateX(-10px)
        opacity: 0
      span:last-child
        transform: rotate(-45deg) translateY(-5px) translateX(5px)

.banner
  background: url('/images/header-bg.png') no-repeat center center
  background-size: cover
  height: 100vh
  z-index: 1
  .container
    display: grid
    align-content: center
    justify-items: left
    height: 100%
    grid-template-columns: 300px
    position: relative
    .content
      p
        text-align: justify
        line-height: 140%
        margin: 20px 0 40px 0
    .scroll-icon
      position: absolute
      bottom: 40px
      left: 50%
      margin-left: -14px

.about-us
  background: $turquoise
  h1
    font-size: 70px
  p
    line-height: 160%

.our-services
  background: $light-blue
@media (max-width: 900px)
  .header
    padding: 30px 0
    .container
      .logo
        font-size: 20px
      .header-nav
        grid-gap: 30px
        .nav-item
          text-transform: uppercase
          font-weight: bold
          border-top: 3px solid rgba(0, 0, 0, 0)
          padding-top: 5px
          font-size: 14px
          &.active
            border-top: 3px solid $orange
  .about-us
    .container
      grid-template-columns: 1fr
      grid-gap: 20px
      align-items: center
      text-align: center
      p
        line-height: 160%
        text-align: justify


@media (max-width: 700px)
  .header
    overflow: hidden
    .nav-btn
      display: grid
    .container
      grid-auto-flow: row
      align-items: center
      .header-nav
        display: none
        grid-auto-flow: row
        grid-gap: 20px
        transform: translateY(-1000px)
        opacity: 0
        .nav-item
          text-transform: uppercase
          font-weight: bold
          border-top: none
          padding-top: 5px
          font-size: 16px
          &.active
            color: $orange
            border-top: none
    &.nav-open
      .header-nav
        transform: translateY(0)
        opacity: 1
        display: grid
  .about-us
    .container
      .section-image
        display: none !important
      h1
        font-size: 70px
      p
        line-height: 160%
