@import './variables'
@import './global'
@import './reset'

.container
  width: 1170px
  max-width: 100%
  margin: 0 auto
  color: $dark

.header
  width: 100%
  position: fixed
  padding: 50px 0
  transition: .5s all ease-in-out
  &.scroll
    background: white
    padding: 15px 0
  .container
    display: grid
    grid-template-columns: 1fr auto
    grid-auto-flow: column
    align-items: center
    .logo
      font-family: $pacifico
      a
        display: inline-block
    .header-nav
      display: grid
      grid-auto-flow: column
      grid-gap: 40px
      .nav-item
        text-transform: uppercase
        font-weight: bold
        border-top: 3px solid white
        padding-top: 5px
        &.active
          border-top: 3px solid orange